$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.header {
    overflow: hidden;
}
.company-name {
    background-color: rgba(0, 0, 0, 0.48);
    font-family: 'Della Respira', serif;
    position: fixed;
    z-index: 1;
    text-align: right;
    margin-top: 0;
    top: 0;
    width: 100%;
    color: white;
    padding: 0.25em;
    font-size: 3em;
}
.navbar {
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
}
.hero-pic {
    width: 100%;
}
.body-content {
    padding: 1em;
    min-height: 720px;
}
.slide-panel {
    width: 200%;

}
.person-pic {
    width: 415px;
    height: 415px;
    border-radius: 20em;
}
.slide {
    float: left;
    width: 50%;
    opacity: 0;
    @include transition(opacity 0.5s, margin-left 1s);
    &.right {

    }
    &.left {
        margin-left: -100%;
    }
    &.left.in {
        margin-left: 0;
    }
    &.in {
        opacity: 1;
    }
}



