$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
* {
    font-family: 'Lato', sans-serif;
}
.header {
    overflow: hidden;
}
.company-name {
    background-color: rgba(0, 0, 0, 0.48);
    font-family: 'Della Respira', serif;
    position: fixed;
    z-index: 1;
    text-align: right;
    margin-top: 0;
    top: 0;
    width: 100%;
    color: white;
    padding: 0.25em;
    font-size: 3em;
}
.navbar {
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
}
.nav .active a {
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
}
.nav a {
    @include transition(background-color 0.3s);
    &:hover {
        background-color: #ECE8E8 !important;
    }
}
.hero-pic {
    width: 100%;
}
.body-content {
    overflow: hidden;
    padding: 0 1em;
    min-height: 720px;
}
.slide-panel {
    width: 200%;

}
.person {
    margin-bottom: 1em;
    @extend .col-md-6;
}
.person-pic {
    width: 270px;
    height: 270px;
    border-radius: 20em;
}
.person-details {

}
.slide {
    float: left;
    width: 50%;
    opacity: 0;
    @include transition(opacity 0.5s, margin-left 1s);
    &.right {

    }
    &.left {
        margin-left: -100%;
    }
    &.left.in {
        margin-left: 0;
    }
    &.in {
        opacity: 1;
    }
}
.about {
    h1 {
        border-bottom: 1px solid #efefef;
    }
    p {
        font-size: 1.25em;
    }
    padding: 0 1.25em;
    section {
        h1 {
            margin-bottom: 0.5em;
        }
        margin-bottom: 3em;
    }
}



